body {
  min-height: 100%;
  background-color: grey;
  margin: 0;
}

.botbar {
  width: 100%;
  height: 8vh;
  background-color: #0115c7;
  position: fixed;
  top: 92%;
  margin: 0;
}

.topbar {
  width: 100%;
  height: 8vh;
  background-color: #0115c7;
  position: fixed;
  margin: 0;
  padding: 0;
}

.topbar h1 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
  margin-left: 9vh;
}

a {
  text-decoration: none;
  color: black;
}

.mainframe {
  padding: 0;
  margin: 0;
  padding-top: 8vh;
  padding-bottom: 8vh;
}

div.titlebox {
  width: 98%;
  margin: 0;
  border: 0;
  padding: 0;
  margin-left: 1%;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #c3c3c3;
  overflow: hidden;
  border-radius: 5px;
  border-style: hidden;
  border-width: 2px;
  border-color: black;
}

div.titlebox div {
  float: left;
  margin: 0;
  padding: 0;
}

div.titlebox div.buttoncontain {
  width: 10%;
}

div.titlebox div.namecontain {
  width: 90%;
}

div.titlebox button {
  color: black;
  border-width: 2px;
  border-radius: 5px;
  border-color: #0115c7;
  background-color: #5457b0;
  box-shadow: none;
  border-style: solid;
  margin-left: auto;
  height: 7vh;
  width: 100%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

div.titlebox button:hover {
  border-color: black;
  background-color: #0115c7;
}

div.buttoncontain form button {
  font-size: 150%;
}

div.namecontain p {
  font-size: 115%;
  margin: 0;
  text-align: justify;
  text-decoration: underline;
  margin-left: 1%;
  vertical-align: middle;
}

div.namecontain {
  line-height: 7vh;
}

div.botbar form button img {
  height: 100%;
  margin-top: 0.5vh;
}

div.botbar form button {
  background-color: #0115c7;
  height: 7vh;
  border-style: hidden;
}

div.botbar div.title {
  float: left;
}

div.botbar form {
  width: 50%;
  float: left;
}

div.topbar img {
  height: 8vh;
  float: left;
  margin: 0;
  margin-left: 0.5vh;
}
